/* header */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: montserrat;
  background-image: url(bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 25%;
}
nav {
  height: 80px;
  background-color: black;
  width: 100%;
  position: fixed;
}
label.logo {
  color: white;
  line-height: 80px;
  font-size: 35px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  line-height: 80px;
  display: inline-block;
  margin: 0 5px;
}
nav ul li a {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  padding: 7px 13px;
  text-decoration: none;
}
a.active,
a:hover {
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    line-height: 30px;
    margin: 50px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  a.active,
  a:hover {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/* akhir header */

/* profil */
#profil {
  padding: 130px;
  color: white;
}

#perkenalan {
  padding-top: 50px;
}

/* tentang */
#tentang {
  color: white;
  background-color: rgb(29, 29, 29);
  padding-top: 100px;
  padding-bottom: 100px;
}
/* akhir tentang */

/* portfolio */
#portfolio {
  text-align: center;
  color: white;
  margin-top: -100px;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* akhir portfolio */

/* Skill */
#skill {
  padding-top: 100px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(29, 29, 29);
  color: white;
}

#skill .container {
  margin: 50px;
}

#skill .col-2 {
  margin-left: 60px;
  margin-bottom: 50px;
}
/* akhir skill */
#license a {
  text-decoration: none;
  color: white;
}
/* license */

/* akhir license */

/* footer */
footer {
  background-color: black;
  height: 260px;
  box-sizing: border-box;
  padding: 50px;
}

footer #contact {
  color: white;
  float: left;
}

footer #contact a {
  text-decoration: none;
  color: white;
}

footer .follow {
  float: right;
  color: white;
}

footer .follow ul {
  list-style: none;
  float: right;
  color: white;
}

footer .follow li a {
  text-decoration: none;
  color: #fff;
}
/* akhir footer */
